$primary-color: #ff4500;
$secondary-color: #1e90ff;

.home {
  .navbar {
    background-color: $primary-color;
    margin-bottom: 4.5em;

    .navbar-btn {
      display: inline;
      width: 100px;
    }

    .btn {
      margin-left: auto;
    }
  }

  .my-todos {
    text-align: center;

    .card {
      border: 1px solid $primary-color;
      margin-bottom: 5em;
      margin-left: 5em;
      margin-right: 5em;
      max-width: 300px;
      height: 250px;
      text-align: center;

      .card-actions {
        display: block;
        text-align: center;
      }
    }
    .MuiCardActions-root {
      text-align: center;
      display: block;

      .todo-edit {
        background-color: $secondary-color;
      }

      .todo-btn {
        background-color: $primary-color;
      }
    }
  }

  .task-form {
    margin: auto;
    margin-bottom: 2.5em;
    max-width: 500px;

    label {
      display: block;
      margin: 0.5em;
    }

    .MuiCard-root {
      max-height: 250px;
    }

    .task-btn {
      margin-top: 0.5em;
    }
  }
}

.modal {
  background-color: white;
  border: none;
  height: 175px;
  margin: auto;
  width: 600px;

  div {
    z-index: auto !important;
    position: relative !important;
    outline: 0;
  }

  h2 {
    margin-left: 30px;
  }

  p {
    text-align: center;
  }

  .confirm {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
  }

  label {
    display: block;
    margin: 0.5em;
  }
}

.lg {
  height: 250px;

  div {
    text-align: center;
  }
}
